@using ReadiFlip.Reversi;
@using BoardRecord = ReadiFlip.Reversi.Board;

@if(BoardParam != null && Player != null) {
    var board = Player == Color.BLACK ? BoardParam : BoardParam.Inv;

    <div class="container">
        <ul class="row-header">
            @foreach(var row in "12345678")
            {
                <li>@row</li>
            }
        </ul>
        <ul class="col-header">
            @foreach (var col in "ABCDEFGH")
            {
                <li>@col</li>
            }
        </ul>
        <ul class="board">
            @for (var i = 0; i < 64; ++i)
            {
                var sq = (Square)i;
                var c = board[sq];
                <li class="@(c == Color.BLACK ? "black" : c== Color.WHITE ? "white" : "")"></li>
            }
        </ul>
    </div>
    <p>@Player</p>
    <p>@(new Reversi(BoardParam, Player.Value))</p>
}

@code {
    [Parameter]
    public BoardRecord? BoardParam { get; set; }

    [Parameter]
    public Color? Player { get; set; }
}